// Import the initial variables
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";

// Setup our custom colors
$persafe: #323846;
$persafe-invert: findColorInvert($persafe);

// XXX: EXPERIMENTAL, CHECK IF WE NEED ORIGINAL PRIMARY ANYWHERE
// $primary: $persafe;
// $primary-invert: $persafe-invert;

// declare custom colors
$custom-colors: (
  "persafe":($persafe, $persafe-invert)
);
